.addRemoveWrapper {
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
}

.addRemoveButton {
  display: inline-flex;
  align-items: center;
}

.button {
  font-size: 1rem;
  text-decoration: none;
}

.text {
  font-size: 1rem;
  /* variables are defined in index.css */
  background-color: hsl(var(--hue), var(--saturation), var(--lightness));
  color: white;
  padding: .7rem 1rem;
  border-radius: var(--border-radius);
}
.text:hover {
  --lightness: 26%;
}

.text.accent {
  --hue: 10;
  --saturation: 80%;
  --lightness: 40%;
}
.text.accent:hover {
  --lightness: 35%;
}
