:root {
  --offset: .7rem;
}

h1 {
  font-size: 3.5rem;
  margin-top: 1rem;
}

h2 {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 2rem;
  padding: calc(var(--offset) + 2vw);
  background-color: #eee;
  outline: #ccc solid var(--offset);
}

.pageWrapper {
  max-width: 50rem;
  padding: var(--offset);
  margin: 0 auto;
  margin-bottom: 2rem;
}

html {
  font-size: 1.1rem;
}

footer {
  margin-top: 2rem;
  text-align: center;
}

@media only screen and (min-width: 100rem) {
  .container {
    padding: 2.5rem;
  }
}
