h1 {
  font-size: 3.5rem;
}

h2 {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 2rem;
  padding: 2rem;
  background-color: #eee;
  outline: #ccc solid 10px;
}

.page-wrapper {
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

html {
  font-size: 1.1rem;
}

footer {
  margin-top: 2rem;
  text-align: center;
}
