.comparisonRow {
  display: grid;
  grid-template-columns: 21fr 1fr;
  grid-column-gap: 0.5rem;
}

.comparisonInputs {
  display: grid;
  grid-row-gap: 1rem;
}

.removeComparison {
  display: flex;
  justify-content: flex-end;
}
