.comparisonRow {
  display: grid;
  grid-template-columns: 19fr 1fr;
}

.comparisonInputs {
  display: grid;
  grid-row-gap: 1rem;
}

.removeComparison {
  height: 100%;
  display: flex;
  color: black;
  justify-content: flex-end;
}

.removeComparison .addRemoveButton {
  grid-column-gap: 0; /* allow precise centering */
}
