.comparisonRow {
  display: grid;
  grid-template-columns: 19fr 1fr;
}

.comparisonInputs {
  display: grid;
  grid-row-gap: 1rem;
}

.removeComparison {
  display: flex;
  justify-content: flex-end;
}
