.rowContainer {
  display: grid;
  grid-row-gap: 2rem;
}

.rowContainer:not(:last-of-type) {
  margin-bottom: 4rem;
}

.rowContainer p {
  margin-bottom: 0;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.rowContainerButtons {
  display: inline-flex;
}

.rowContainerButtons .addRemoveWrapper {
  margin-right: 1.3rem;
}

@media only screen and (max-width: 30rem) {
  .rowContainerButtons {
    display: flex;
    flex-direction: column;
  }
  .rowContainerButtons .addRemoveWrapper {
    margin-bottom: 1.3rem;
    margin-right: 0;
  }
  .rowContainerButtons .addRemoveWrapper .addRemoveButton .text {
    display: flex;
    justify-content: center;
  }
  .rowContainerButtons .addRemoveWrapper,
  .rowContainerButtons .addRemoveWrapper .addRemoveButton,
  .rowContainerButtons .addRemoveWrapper .addRemoveButton .text {
    width: 100%;
  }
}
