.rowContainer {
  display: grid;
  grid-row-gap: 2rem;
}

.rowContainer:not(:last-of-type) {
  margin-bottom: 4rem;
}

.rowContainer p {
  margin-bottom: 0;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.rowContainerButtons {
  margin-top: 1rem;
  display: inline-flex;
}

.rowContainerButtons .addRemoveWrapper {
  margin-right: 1.3rem;
}
