.header {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.directoryPathWrapper {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.pathInput {
  margin-left: .5rem;
  font-size: 1rem;
}

.shellCommand {
  background-color: #282C34;
  color: #eee;
  padding: 1rem;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 1rem;

  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.shellCommand p {
  flex: 0 0 auto;
  margin: 0;
}
