.options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.options label {
  margin-right: 1rem;
  text-align: right;
}

.options select {
  height: auto;
  max-width: 15rem;
}

.options input {
  width: inherit;
}

.path {
  display: grid;
  align-items: center;
  grid-template-columns: minmax(0, 3rem) minmax(3rem, auto);
}

.shellCommand {
  background-color: #282C34;
  color: #eee;
  padding: 1rem;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-weight: bold;
  font-size: 1.1rem;

  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.shellCommand p {
  flex: 0 0 auto;
  margin: 0;
}
