.transformRow {
  display: grid;
  grid-template-columns: 21fr 1fr;
  grid-column-gap: 0.5rem;
}

.transformInputs {
  display: grid;
  grid-gap: 1rem;
}

.removeTransformation {
  justify-content: flex-end;
}

@media only screen and (min-width: 40rem) {
  .transformRow:not(:first-of-type) {
    margin-top: 1rem;
  }
  .transformInputs {
    grid-template-columns: 1fr 1fr;
  }
  .transformInputs.withInsert {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
