.comparisonRow {
  display: grid;
  grid-template-columns: 12fr 1fr;
}

.comparisonInputs {
  display: grid;
  grid-row-gap: 1rem;
}

.removeComparison {
  height: 100%;
  display: flex;
  color: black;
  justify-content: center;
}

.removeComparison .button {
  font-size: 3rem;
}

.removeComparison .addRemoveButton {
  grid-column-gap: 0; /* allow precise centering */
}
