.addRemoveWrapper {
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
}

.addRemoveButton {
  display: inline-flex;
  align-items: center;
}

.button {
  font-size: 1rem;
  text-decoration: none;
}

.text {
  text-decoration: underline;
}
