.addRemoveWrapper {
  font-size: 1.2rem;
  cursor: pointer;
}

.addRemoveButton {
  float: right;
  display: inline-grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-column-gap: .5rem;
}

.button {
  font-size: 2rem;
}
