.transformRow {
  display: grid;
  grid-template-columns: 19fr 1fr;
}

.transformRow:not(:first-of-type) {
  margin-top: 1rem;
}

.transformInputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-row-gap: 1rem;
}

.transformInputs.withInsert {
  grid-template-columns: 1fr 1fr 1fr;
}

.transformRow input, .transformRow select {
  font-size: 1rem;
}

.transformRow input {
  width: 100%;
}

.removeTransformation {
  justify-content: flex-end;
}
