.transformRowContainer {
  margin-bottom: 3rem;
  display: grid;
  grid-template-rows: 2fr auto 2fr;
}

.transformRowContainer .rows {
  display: grid;
  grid-template-rows: repeat(auto-fill, 3rem);
}
